doctype html
html
  head
    title Gulp &amp; Express &amp; Pug &amp; Stylus
    meta(name="desctiption" content="")
    meta(name="desctiption" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/style.css')
  body
    header.Header
      .container.Header__container
        h1.Header__title bandcamp daily
        h2.Header__tagline your favorite music you've never heard
      
    block content
    

    script(src="/js/main.js")
