@import 'axis'
@import 'rupture'
@import 'yeticss'


$space ?= 1.875rem
$margin ?= 1rem
.grid-flex-cell-1of2
  padding: $space
  width: "calc(50% - (%s * 2))" % $margin



body
  background: linear-gradient(120deg, rgb(237, 22, 103), rgb(57, 20, 90));
  background: -webkit-linear-gradient(120deg, rgb(237, 22, 103), rgb(57, 20, 90));
  background-repeat: no-repeat
  background-attachment: fixed





.Header
  background-color: #fff
  height: 21.875rem
  margin-bottom: 5rem
  &__container
    position: relative
    text-align: center
    top: 50%
    transform: translateY(-50%)
  &__title
    font-weight: 700
    letter-spacing: -.125rem
    text-transform: uppercase
  &__tagline
    font-size: 1rem 
    text-transform: uppercase





.Article
  background-color: rgba(#fff, 0.9)
  border-radius: 0.25rem
  box-shadow: -4px -4px 20px rgba(0,0,0,0.8)
  margin-bottom: 2rem
  padding: 3rem
  &__card
    background-color: rgba(#fff, 0.9)
    border: 1px solid $gray-light
    border-radius: 0.25rem
    height 37.5rem
    margin: 0 1rem 2rem
    overflow: hidden
    transition: box-shadow .3s
    &:hover
      box-shadow: -2px -2px 20px rgba(0,0,0,0.8)
  img
    height: auto
    width: 100% !important
    // padding: 1rem 4rem 4rem


.Comments
  background-color: rgba(white, 0.8)
  padding: 1rem
  &__text
    border-bottom: 1px solid $gray-light

.Comment-form
  height: 100%
  margin-bottom: 1rem
  overflow: auto
  transition: opacity .3s ease-in, height .3s step-start;
  &__content
    width: 100%



.is-hidden
  height: 0
  opacity: 0
  overflow: hidden
  transition-timing-function: linear, step-end

